# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Operating system
.DS_Store

# Data
data/*

# Experiments
runs/*

# Model checkpoints
*.pt
*.pth
*.ckpt

# Logs
*.log
wandb/